body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b0c4de;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #4169e1;
    color: #ffffff;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.dashboard-button {
    position: relative;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}

.bills-button {
    position: relative;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}

.dashboard-button::before,
.dashboard-button::after {
    content: "|";
    flex-grow: 1;
    height: 5px;
    background-color: #ffffff;
    margin: 10px;
}

.bills-button::before,
.bills-button::after {
    content: "|";
    flex-grow: 1;
    height: 5px;
    background-color: #ffffff;
    margin: 10px;
}

.dashboard-button:hover {
    background-color: #1d3ceb;
    padding: 10px 5px;
}

/* Active button style */
.dashboard-button.active {
    background-color: #1d3ceb; /* Active color */
    color: white;
    font-weight: bold;
}

.bills-button:hover {
    background-color: #1d3ceb;
    padding: 10px 5px;
}

.exit-button {
    margin-left: auto; /* Pushes the exit button to the right */
}

.exit-button img {
    width: 40px; /* Adjust icon size as needed */
    height: auto;
    cursor: pointer;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    padding: 20px;
}

.card_chart {
    background-color: #d3d3d3;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

/* Define keyframes for fade-in and fade-out */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Apply the fade-in animation */
.section.fade-in {
    animation: fadeIn 0.5s forwards;
}

/* Apply the fade-out animation */
.section.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Ensure the section that is not visible is hidden */
.section.hidden {
    display: none;
}
