body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/bg.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.content {
    position: relative;
    padding: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    text-align: left;
    width: 800px; /* Adjust the width as needed */
    max-width: 80%; /* Added to ensure responsiveness */
    margin: auto; /* Center the content horizontally */
}

.logo {
    position: absolute;
    top: 70px;
    right: 70px;
    width: 100px;
}

h1 {
    font-size: 3em;
    color: #333;
    margin-top: -40px; /* Adjust as needed */
    margin-left: -80px;
}


p {
    font-size: 1.5em;
    color: #000000;
    margin: 0;
    margin-left: -80px;
    margin-top: 50px;
}


.button {
    display: inline-block;
    padding: 20px 35px;
    font-size: 1em;
    color: white;
    background-color: #3d7fe4;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-left: -80px;
    margin-top: 50px;
    margin-bottom: -60px;
}
.button:hover {
    background-color: #555;
}
