/* Global styles for body and html, including full screen size, flex layout, and background image */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/bg.jpg');
    background-size: cover;
    background-position: center;
}

/* Container for the main content with flex layout and semi-transparent background */
.container {
    position: flex;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}

/* Content styling with padding, background color, rounded corners, and responsive width */
.content {
    position: relative;
    padding: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    text-align: left;
    width: 800px; /* Adjust the width as needed */
    max-width: 80%; /* Added to ensure responsiveness */
    margin: auto; /* Center the content horizontally */
}

/* Logo positioning and size */
.logo {
    position: absolute;
    top: 70px;
    right: 70px;
    width: 100px;
}

/* Styling for the header (h1) element */
h1 {
    font-size: 3em;
    color: #333;
    margin-top: -40px; /* Adjust as needed */
    margin-left: -80px;
}

/* Styling for paragraph elements (p) */
p {
    font-size: 1.5em;
    color: #000000;
    margin: 0;
    margin-left: -80px;
    margin-top: 50px;
}

/* Button styling with padding, background color, rounded corners, and hover effect */
.button {
    display: inline-block;
    padding: 20px 35px;
    font-size: 1em;
    color: white;
    background-color: #3d7fe4;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-left: -80px;
    margin-top: 50px;
    margin-bottom: -60px;
    cursor: pointer;
}

/* Hover effect for the button */
.button:hover {
    background-color: #555;
}

/* Custom link styling */
.custom-link {
    color: blue;
    text-decoration: underline;
}

/* Footer styling with small text and centered alignment */
footer {
    font-size: small;
    text-align: center;
    position: absolute;
    bottom: 115px;
    width: 100%;
}

/* Modal background styling with full screen coverage and opacity */
.termsWrapper {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    backdrop-filter: blur(5px); /* Blurring effect on the background */
    animation: fadeIn 0.5s; /* Fade-in animation */
}

/* Modal content with padding, borders, rounded corners, and animation */
.terms-wrapper {
    position: relative;
    padding: 6rem 20rem 20rem 20rem;
    border: 3px solid #4169e1;
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
    background-color: white;
    backdrop-filter: blur(10px);
    transform: scale(1); /* Initial scale for zoom-in effect */
    animation: zoomIn 0.3s; /* Zoom-in animation */
}

/* Header styling for the terms modal with flex layout and centered text */
.terms-header{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: #4169e1;
    color: white;
    font-size: clamp(1rem, 3vw, 2rem);
}

/* Styling for the left corner of the modal header */
.terms-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #4169e1;
}

/* Styling for the right corner of the modal header */
.terms-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #4169e1;
}

/* Modal background styling for the policy modal */
.policyWrapper {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    backdrop-filter: blur(5px); /* Blurring effect on the background */
    animation: fadeIn 0.5s; /* Fade-in animation */
}

/* Modal content for the policy modal with padding, borders, and animations */
.policy-wrapper {
    position: relative;
    padding: 6rem 20rem 20rem 20rem;
    border: 3px solid #4169e1;
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
    background-color: white;
    backdrop-filter: blur(10px);
    transform: scale(1); /* Initial scale for zoom-in effect */
    animation: zoomIn 0.3s; /* Zoom-in animation */
}

/* Header styling for the policy modal with flex layout and centered text */
.policy-header{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: #4169e1;
    color: white;
    font-size: clamp(1rem, 3vw, 2rem);
}

/* Styling for the left corner of the policy modal header */
.policy-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #4169e1;
}

/* Styling for the right corner of the policy modal header */
.policy-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #4169e1;
}
