body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.main-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.header {
    text-align: center;
    padding: 10px;
}

.header h2, .header h3 {
    margin: 5px 0;
}

.content {
    width: 60%;
    vertical-align: top;
    padding: 10px;
}

.warning {
    text-align: center;
    font-weight: bold;
}

.invoice {
    width: 40%;
    vertical-align: top;
    padding: 10px;
}

.invoice-table {
    margin-top: 5%;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.invoice-table th{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.invoice-table th {
    background-color: #f2f2f2;
}

.invoice-table tr th {
    text-align: center;
    font-weight: bold;
}

.invoice-table tr td {
    height: 25px;
}
/* Set page size for printing */
@media print {
    body {
        width: 8.5in;      /* Set the width to 8.5 inches */
        height: 5.5in;     /* Set the height to 5.5 inches */
        margin: 0;         /* Remove default margins */
        padding: 10px;     /* Add padding for print */
        font-size: 12px;   /* Adjust font size for better print readability */
    }
    
    .main-table {
        width: 100%;
        border: none;
    }
}


#editButton {
    position: fixed; /* Fixed positioning for visibility */
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top */
}
#editButton:hover {
    background-color: #0056b3;
}
/* Ensure other content in the iframe does not overlap the button */
body {
    margin: 0;
    padding: 0;
}
