/* Modal styles */
/* Modal background styling */
.wrapper {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    backdrop-filter: blur(5px); /* Blurring effect on the background */
    animation: fadeIn 0.5s; /* Fade-in animation */
}

/* Modal content styling */
.login-wrapper {
    position: relative;
    padding: 6rem 2.5rem 2rem 2.5rem;
    border: 3px solid #4169e1;
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
    background-color: white;
    backdrop-filter: blur(10px);
    transform: scale(1); /* Initial scale for zoom-in effect */
    animation: zoomIn 0.3s; /* Zoom-in animation */
}

/* Login header styling */
.login-header{
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: #4169e1;
    color: white;
    font-size: clamp(1rem, 3vw, 2rem);
}

/* Header pseudo-elements for visual styling */
.login-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #4169e1;
}

.login-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #4169e1;
}

/* Login form styling */
.login-form{
    display: flex;
    flex-direction: column;
    font-size: clamp(0.8rem, 3vw, 1rem);
}

/* Input field wrapper styling */
.input-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 1.5rem;
}

/* Input field styling */
.input-field{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #4169e1;
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: black;
}

/* Label styling */
.label{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
    color: black;
}

/* Label positioning when input is focused or valid */
.input-field:focus~.label,
.input-field:valid~.label{
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0 10px;
    border-radius: 30px;
    background-color: #4169e1;
    color: white;
}

/* Icon positioning inside the input */
.icon{
    position: absolute;
    top: 5px;
    right: -15px;
}

/* Checkbox container styling */
.checkbox-container{
    color: black;
    margin-top: 1.5rem;
}

/* Login button styling */
.input-login{
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #4169e1;
    border-radius: 30px;
    background: #ececec;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

/* Login button hover effect */
.input-login:hover{
    background: rgb(222, 245, 251);
}


/* Keyframes for animations */
/* Fade-in animation for modal background */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Zoom-in animation for modal content */
@keyframes zoomIn {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Adjust for tablet screens */
@media (max-width: 1024px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr); /* Reduce to 2 columns */
    }
    .dashboard2 {
        grid-template-columns: repeat(1, 1fr); /* Reduce to 1 column */
    }
}

/* Adjust for mobile screens */
@media (max-width: 768px) {
    .descDashboard {
        grid-template-columns: repeat(1, 1fr); /* Reduce to 1 column */
    }
    .descDashboard2 {
        grid-template-columns: repeat(1, 1fr); /* 1 column for smaller screens */
    }
}
