body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #b0c4de; /* Light blue background for the page */
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #4169e1; /* Header background color */
    color: #ffffff; /* White text color */
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 10px; /* Margin to the left of the logo */
}


/* Styling for buttons and search input */
.table-controls {
    display: flex;
    justify-content: space-between; 
    align-items: center; /* Align items vertically centered */
    margin: 20px 5%; 
}

.table-controls input, .table-controls button {
    padding: 10px;
    font-size: 16px; /* Uniform font size for inputs and buttons */
}

.table-controls .search-container {
    margin-left: auto; /* Push search container to the right */
}

.table-controls .add-button-container,
.table-controls .set-button-container {
    margin-right: 10px; /* Adjust margin for better spacing between buttons */
}

.table-controls button {
    cursor: pointer; /* Change cursor to indicate clickable buttons */
}

/* Specific styling for the "Add" button */
#addButton {
    background-color: white; 
    color: black; 
    font-weight: bold; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    border: 2px solid #4169e1; 
    width: 100px; /* Fixed width for the button */
    border-radius: 5px;  
}
#addButton:hover{
    background-color: #86dbf3; /* Light hover background color */
}

#setButton {
    background-color: white; 
    color: black; 
    font-weight: bold; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #4169e1; 
    width: 150px; /* Fixed width for the button */
    border-radius: 5px;  
}

/* Styling for dashboard, bills, and account buttons */
.dashboard-button {
    position: relative;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px; /* Spacing between buttons */
}

.bills-button {
    position: relative;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px; /* Spacing between buttons */
}

.accs-button {
    position: relative;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 5px; /* Slightly adjusted margin for alignment */
}

/* Decorative bars around the buttons */
.dashboard-button::before,
.dashboard-button::after {
    content: "|";
    flex-grow: 1;
    height: 5px;
    background-color: #ffffff;
    margin: 10px;
}

.bills-button::before,
.bills-button::after {
    content: "|";
    flex-grow: 1;
    height: 5px;
    background-color: #ffffff;
    margin: 10px;
}

.accs-button::before,
.accs-button::after {
    content: "|";
    flex-grow: 1;
    height: 5px;
    background-color: #ffffff;
    margin: 10px;
}

/* Styling for the user manage button */
.user-manage {
    position: relative;
    color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}

.user-manage::before,
.user-manage::after {
    content: "|";
    flex-grow: 1;
    height: 5px;
    background-color: #ffffff;
    margin: 10px;
}

/* Hover effect for the user manage button */
.user-manage:hover {
    background-color: #1d3ceb;
    padding: 10px 5px;
}

/* Active button styling for user manage */
.user-manage.active {
    background-color: #1d3ceb; /* Active color */
    color: white;
    font-weight: bold;
}


/* Active button style for account buttons */
.accs-button.active {
    background-color: #1d3ceb; /* Active color */
    color: white;
    font-weight: bold;
}

.accs-button:hover {
    background-color: #1d3ceb;
    padding: 10px 5px;
}

.bills-button:hover {
    background-color: #1d3ceb;
    padding: 10px 5px;
}

.dashboard-button:hover {
    background-color: #1d3ceb;
    padding: 10px 5px;
}

/* Styling for exit button */
.exit-button {
    margin-left: auto; /* Pushes the exit button to the right */
}

.exit-button img {
    width: 40px; /* Adjust icon size */
    height: auto;
    cursor: pointer; /* Cursor changes to pointer when hovering over image */
}

h1, h2 {
    text-align: center;
    color: #333; /* Dark text color for headings */
}

/* Basic styling for the table */
.table-container {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #1d3ceb;
    max-height: 470px; /* Limit the height */
    overflow-y: auto; /* Enable vertical scrolling */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4169e1; /* Header background color */
}

/* Add transition for smooth zoom effect */
table tr {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover effect for table rows */
table tr:hover {
    background-color: #6f8de682; /* Slightly modified color for hover */
    cursor: pointer; /* Change cursor to a pointer to indicate it's clickable */
    transform: scale(1.01); /* Slight zoom effect for rows on hover */
}

/* Styling for modify buttons */
.modify-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.table-container .modify-btn {
    background-color: #2196F3; /* Blue background for modify button */
}

.table-container .modify-btn:hover {
    background-color: #1976D2; /* Darker blue on hover */
}

/* Styling for delete buttons */
.delete-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.table-container .delete-btn {
    background-color: #f32c21; /* Red background for delete button */
}

.table-container .delete-btn:hover {
    background-color: #e53935; /* Darker red on hover */
}

/* Account ID hidden from view */
.account-id {
    display: none;
}

/* Manage account modal styling */
.manage_acc {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    backdrop-filter: blur(5px); /* Blurring effect on the background */
    animation: fadeIn 0.5s; /* Fade-in animation */
}

/* Add account modal styling */
.add_acc {
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    backdrop-filter: blur(5px); /* Blurring effect on the background */
    animation: fadeIn 0.5s; /* Fade-in animation */
}


/* Container for the manage account form. It has a fixed position, white background, and is centered on the screen with a border and shadow for a clean, modern look. The scale and zoom-in animation are used to create a dynamic effect when the form appears. */
.manage_acc-content {
    background-color: white;
    align-items: center;
    position: fixed center;
    margin: 5% auto;
    padding: 50px;
    border: 3px solid #4169e1;
    width: 40%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    transform: scale(1);
    animation: zoomIn 0.3s;
}

/* Styling for input fields, providing a custom design with rounded edges, padding, and blue borders. The input fields will grow and shrink responsively with the page size, and a smooth transition is added for interaction effects like focus. */
.manageAccInput-field {
    margin-left: 10%;
    width: 100%;
    align-items: center;
    padding: 0.6rem;
    border: 2px solid #4169e1;
    border-radius: 30px;
    background: white;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-weight: lighter;
}

/* Container for input fields. This section uses flexbox to position elements, ensuring that the labels and inputs are aligned properly and spaced appropriately between each form field. */
.manage_acc-field {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 1.5rem;
}

/* Label styling that applies to the floating label effect. The label starts in the middle of the input field and moves to the top when the input is focused or valid. This gives a dynamic, user-friendly interface. */
.manageAccLabel {
    position: absolute;
    margin-left: 10%;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
    color: black;
}

/* The floating label effect that moves the label to the top and changes its background color and text color when the corresponding input is focused or has a valid value. */
.manageAccInput-field:focus ~ .manageAccLabel,
.manageAccInput-field:valid ~ .manageAccLabel {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0 10px;
    border-radius: 30px;
    background-color: #4169e1;
    color: white;
}

/* Header for the manage account section. It is centered at the top with a blue background, white text, and rounded corners. This header also has a dynamic effect created by the use of pseudo-elements (::before and ::after) to add a decorative touch. */
.manage_acc-header {
    display: flex;
    position: absolute;
    top: 0%;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: #4169e1;
    color: white;
    font-size: clamp(1rem, 3vw, 2rem);
}

/* Decorative elements for the header, adding rounded corners with a shadow effect to the left and right sides of the header for an enhanced visual appearance. */
.manage_acc-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #4169e1;
}

.manage_acc-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #4169e1;
}

/* Styling for checkbox container, ensuring it has appropriate margins and text color for clear visibility in the form. */
.checkbox-container{
    color: black;
    margin-top: 1.5rem;
    margin-left: 30px;
}

/* Container for the form buttons. This section provides a margin and center alignment for the button to enhance its placement. */
.manage_acc-button {
    text-align: center;
    margin-top: 50px;
}

/* Button styles. The buttons have a white background, bold text, and blue borders with rounded corners. They are interactive, with hover effects that change the opacity and border color to enhance the user experience. */
.manage_acc-button button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #4169e1;
}

/* Hover effect for the buttons that changes their opacity and border color to make them feel more interactive. */
.manage_acc-button button:hover {
    border: 2px solid #4169e1;
    opacity: 0.9;
}
